@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css');

.h-100 {
  height: 100%;
}
.b-images {
  background: rgba(0,0,0,.5);
}
.text-capitalize-first::first-letter {
  text-transform: uppercase;
}
.pull-right {
  float: right
}
.cursor-pointer:hover {
  cursor: pointer;
}